@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: port;
  src: url("/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


*{
margin :0;
padding: 0;
box-sizing: boder-box;
}
html,body{
height: 100vh;
width: 100%;
}
html {
  overscroll-behavior: contain;
  scroll-padding-top: 100px;
}

body {
  color: var(--foreground);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
